*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.main1{
    background-color: rgb(2, 2, 59);
    height: 15vh;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}
.hamburger{
    display: none;
}
nav{
    width: 75%;
    justify-content: space-between;
    margin-right: 10%;
}
.logo{
    color: white;
    width: 100%;
    margin-left: 20%;
    font-weight: 900;
    font-size: 30px;
}
ul{
    display: flex;
}
.nav-bar ul li a{
    color: white;
    margin-right: 70px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}
/* .nav-bar ul li a:hover{
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
} */
.main2{
    background-color:rgba(250, 176, 16, 0.952);
    height: 80vh;
    width: 100%;
    padding-top: 75px;
    
}
.par1{
    color: white;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img{
    width: 10%;
    border-radius: 100%;
    margin-left: 45%;
    margin-bottom: 10px;
    margin-top: 50px;
}
.wai{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}
.line{
    display: flex;
    justify-content: center;
}
.star{
    width: 2%;
    height: 5%;

}
hr{
    width: 5%;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 2px solid white;
}
.gra{
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
}
/* section 2 */
.main3{
    background-color: white;
    height: 100vh;
}
.port{
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 110px;
}
.hr1{
        width: 5%;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-top: 2px solid black;

}
.star1{
    width: 2%;
    height: 5%;
    margin-bottom: 20px;
}
.contt{
    display: flex;
    justify-content: center;
    height: 30vh;
}
.radius{
    width: 15%;
    border-radius: 15px;
    background-color: rgb(170, 17, 17);
    /* border: 1px solid  rgb(170, 17, 17); */
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
    text-align: center;

} 
.radius1, .radius2{
    width: 15%;
    border-radius: 15px;
    background-color: rgb(170, 17, 17);
    /* border: 1px solid  rgb(170, 17, 17); */
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 25px;
    text-align: center;
}
.house{
    border-radius: 400% ;
    width: 60%;
    text-align: center;
    background-color: rgb(255, 51, 0);
}
.radius:hover{
    background-color: rgba(255, 255, 0, 0.534);
    cursor: pointer;
    transition: 2s;
}
.radius1:hover{
    background-color: green;
    cursor: pointer;
    transition: 2s;
}
.radius2:hover{
    background-color: blue;
    cursor: pointer;
    transition: 2s;
}
/* section 3 */
.main4{
    background-color: rgba(250, 176, 16, 0.952);
    height: 120vh;
}
.abt{
    text-align: center;
    padding-top: 110px;
    color: white;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;

}
.abbb{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.para1{
    color: white;
    width: 30%;
    font-size: 18px;
    margin-right: 40px;
    line-height: 30px;
}
.free{
    margin-top: 90px;
    margin-left: 43%;
}
.down{
    padding: 20px;
    background: transparent;
    border: 2px solid yellow ;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
}
.down:hover{
    background-color: white;
    color: black;
    transition: 2s;
}
/* section 4 */
.cont{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 110px;
    text-align: center;
}
.main5{
    background-color: white;
    height: 100vh;
}
form{
    text-align: center;

}
input{
    padding: 20px;
    width: 50%;
    border: none;
    margin-bottom: 10px;
    background-color: whitesmoke;
}
textarea{
    margin-bottom: 40px;
    border: none;
    background-color: whitesmoke;
    resize: none;
    width: 50%;
    
}
.last{
    padding: 10px;
    background: rgb(255, 187, 0);
    border: 2px solid ;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin-right: 5px;
    font-weight: bold;
    
}
.last:hover{
    background-color: yellow;
    color: black;
    transition: 2s;
}
/* section 5 */
.main6{
    background-color: blue;
    height: 50vh;
    display: flex;
    padding-top: 5%;

}
.final{
    margin-right: 50px;
    margin-left: 25%;
    color: white;
    text-align: center;
}
.final1, .final2{
    margin-right: 50px;
    text-align: center;
    
}
span{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.loc{
    color: white;
}
.looo{
    color: white;
    width: 200px;
    font-size: 16px;
    margin-top: 17px;
}
.main7{
    background-color: black;
    height: 10vh;
}
.llogo{
    display: flex;
    width: 20px;
}
.llll{
    width: 40px;
    padding: 0 3px;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
    
}
.llll:hover{
    background-color: rgba(255, 255, 255, 0.397);
    border-radius: 50px;
    transition: 0.5s;
}

@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
    .logo{
        margin-left: 10%;
        margin-right: 15%;
    }
    .par1{
        font-size: 20px;
        display: inline-block;
    }
    .main2{
        height: 100vh;
    }
    .house{
        width: 35%;
    }
    .contt{
        height: 40vh;
    }
    .radius, .radius1, .radius2{
        width: 30%;
    }
    .main4{
        margin-top: 150px;
        height: 160vh;
    }
    .main5{
        height: 160vh;
    }
    .main6{
        height: 40vh;
    }
    .final{
        margin-right: 80px;
        margin-left: 20%;
        color: white;
        text-align: center;
    }
    .final1, .final2{
        margin-right: 50px;
        text-align: center;
    }
    span{
        color: white;
        font-size: 12px;
        font-weight: bold;
        /* margin-left: ; */
    }
    .loc{
        color: white;
        width: 100px;
        font-size: 13px;
    }
    .looo{
        color: white;
        width: 150px;
        font-size: 13px;
        margin-top: 17px;
    }
    .llll{
        width: 30px;
        margin-left: 5px;    
    }
    
  
}
/* @media only screen and (max-width: 900px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(2, 2, 59);; */
        /* transition: 0.5s; */
        /* overflow: hidden;
    }
    .nav-bar.links{
        height: 50px;
    }
    .nav-bar ul {
        width: fit-content;
        margin-top: 20px;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.links ul{
        opacity: 1;
    }
    .nav-bar ul li a{ */
        /* margin-bottom: 100px; */
        /* margin: 0 40px;
    }
    .par1{
        font-size: 20px;
    }
    .port, .abt, .cont, .main2{
        padding-top: 130px;
    }
    .contt{
        height: 33vh; */
        /* width: 150%; */
    /* }
    .radius, .radius1, .radius2{
        width: 30%;
    }
    .para1{
        font-size: 15px;
    }
    .free{
        margin-top: 30px;
        margin-left: 30%;
    }
    .final{
        margin-right: 30px;
        margin-left: 1%;
        color: white;
        text-align: center;
    }
    .final1, .final2{
        margin-right: 30px;
        text-align: center;
        
    }
    span{
        color: white;
        font-size: 10px;
        font-weight: bold; */
        /* margin-left: ; */
    /* }
    .loc{
        color: white;
        width: 100px;
        font-size: 10px;
    }
    .looo{
        color: white;
        width: 150px;
        font-size: 10px;
        margin-top: 17px;
    }
    .llll{
        width: 30px;
        margin-left: 5px;    
    }
    .main6{
        height: 25vh;
    }
    
} */

@media only screen and (max-width: 600px){
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: rgb(2, 2, 59);;
        /* transition: 0.5s; */
        overflow: hidden;
    }
    .nav-bar.links{
        height: 50px;
    }
    .nav-bar ul {
        width: fit-content;
        margin-top: 20px;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.links ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        /* margin-bottom: 100px; */
        margin: 0 40px;
    }
    .par1{
        font-size: 20px;
    }
    .port, .abt, .cont, .main2{
        padding-top: 130px;
    }
    .house{
        width: 30%;
    }
    .contt{
        height: 20vh;
        /* width: 150%; */
    }
    .radius, .radius1, .radius2{
        width: 30%;
    }
    .para1{
        font-size: 15px;
    }
    .free{
        margin-top: 30px;
        margin-left: 30%;
    }
    .final{
        margin-right: 30px;
        margin-left: 1%;
        color: white;
        text-align: center;
    }
    .final1, .final2{
        margin-right: 30px;
        text-align: center;
        
    }
    span{
        color: white;
        font-size: 10px;
        font-weight: bold;
        /* margin-left: ; */
    }
    .loc{
        color: white;
        width: 100px;
        font-size: 10px;
    }
    .looo{
        color: white;
        width: 150px;
        font-size: 10px;
        margin-top: 17px;
    }
    .llll{
        width: 30px;
        margin-left: 5px;    
    }
    .main2{
        height: 70vh;
    }
    .main3{
        height: 70vh;
    }
    .main4{
        height: 120vh;
    }
    .main5{
        height: 100vh;
    }
    .main6{
        height: 25vh;
    }
    
}
